*,
*::before,
*::after {
	font-family: 'Open Sans';
	font-weight: 600;
	box-sizing: border-box;
}

* {
	margin: 0;
}

html,
body,
main {
	line-height: 1.5;
	height: 100%;
	width: 100%;
}

.window {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	flex-wrap: wrap;
	/* border: 5px dashed lightblue; */
}

.component {
	display: flex;
	width: 100%;
	height: 50%;
	/* border: 5px dashed blue; */
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 321px) {
		width: 50%;
		height: 100%;
	}
}
.controls {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 50%;
	/* border: 5px dashed red; */
	align-items: center;
	justify-content: center;

	@media screen and (min-width: 321px) {
		width: 50%;
		height: 100%;
	}
}

.controls_list {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.list_row {
	display: flex;
	gap: 20px;
	align-items: center;
}

#input_value {
	width: 45px;
	padding: 4px 8px;
	border: 1px solid black;
	border-radius: 24px;
	text-align: center;
}
#input_value:focus {
    outline: 1px solid #005bff;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 28px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 34px;
	background-color: #e0e6ef;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: '';
	height: 24px;
	width: 24px;
	left: 2px;
	bottom: 2px;
	border-radius: 50%;

	background-color: white;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: #005bff;
}

input:checked + .slider:before {
	transform: translateX(17px);
}

